@import "tailwindcss";

:root {
  --background: #F4F8FC;
  --foreground: #102A43;
}

@theme {
  --color-brand-navy: #082A63;
  --color-brand-navy-sec: #123E7A;
  --color-brand-red: #D71920;
  --color-brand-light: #F4F8FC;
  --color-brand-softblue: #EAF4FC;
  --color-brand-dark: #102A43;
  --color-brand-muted: #64748B;
  --color-brand-wa: #25D366;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
